.container1 {
    color: hotpink;
    text-align: center;
}

body {
    background: url("../images/Bus-stop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button.btn.btn-primary {
    width: 30%;
    margin: 10px auto;
}